<div>
  <div class="p-2 text-xl mb-3">{{ numElement }} articoli</div>
  <div class="wardrobeprodlist">
    <div class="flex flex-row flex-wrap card-container blue-container justify-content-start m-0 p-0">
      <div *ngFor="let product of productList;" class="flex align-items-center justify-content-center m-0 p-0">
        <product-card [product]="product" [showUser]="false"></product-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="draftList && draftList.length > 0">
  <div class="p-2 text-xl mb-3">{{ numElementBozze }} articoli in bozza</div>
  <div class="wardrobeprodlist">
    <div class="flex flex-row flex-wrap card-container blue-container justify-content-start m-0 p-0">
      <div *ngFor="let product of draftList;" class="flex align-items-center justify-content-center m-0 p-0">
        <product-card [product]="product" [showUser]="false"></product-card>
      </div>
    </div>
  </div>
</div>