<div class="grid w-full">
  <div class="col-4">
    <div class="card">
      <div class="flex flex-row flex-wrap card-container blue-container">
        <div class="flex align-items-center justify-content-center h-3rem m-2 m-2 ">
          <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
        </div>
        <div class="flex align-items-center justify-content-center h-3rem m-2 m-2 ">
          <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
        </div>

        <div class="flex align-items-center justify-content-center h-3rem m-2 m-2 ">
          <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 col-offset-4 mr-0 pr-0">
    <div class="flex flex-row flex-wrap justify-content-end ">
      <div class="flex align-items-center justify-content-center h-3rem my-2 mr-2">
        <img src="assets/app_store_it.svg" alt="app store logo" />
      </div>
      <div class="flex align-items-center justify-content-center h-3rem my-2 mr-0">
        <img src="assets/google_store_it.svg" alt="google store logo" />
      </div>
    </div>
  </div>
</div>
