<div class="card w-10">
  <p-splitter [panelSizes]="[25, 75]" [minSizes]="[10, 0]" styleClass="my-5 h-screen ">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">LISTA CONVERSAZIONI</div>
    </ng-template>
    <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[5, 90, 5]">
        <ng-template pTemplate>
          <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">Destinatario messaggi</div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col flex align-items-center justify-content-center">Lista Messaggi</div>
        </ng-template>
        <ng-template pTemplate>
          <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">Box Scrittura</div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
