<div class="container container-inbox w-9">
  <div class="top-preview">
    <div class="top-preview-scritta">Inbox</div>
    <div class="top-preview-icona">
      <i class="pi pi-pencil" style="font-size: 1rem"></i>
    </div>
  </div>
  <div class="preview">
    <div *ngIf="inboxPreview && inboxPreview.length > 0 && conversazione">
      <app-inbox-preview-item *ngFor="let anteprima of inboxPreview" [anteprima]="anteprima" [routerId]="this.id" [prodottoCorrelato]="prodottoCorrelato" />
    </div>
    <div *ngIf="!inboxPreview || inboxPreview.length === 0 || !conversazione" class="h-4rem p-3">
      No conversation
    </div>
  </div>
  <div class="altroutente" *ngIf="otherUser">{{otherUser.username}}</div>
  <div class="prodotto" *ngIf="prodottoCorrelato">
    <p-avatar *ngIf="prodottoCorrelato.featured" [image]="prodottoCorrelato.featured" size="normal"></p-avatar>
    {{ prodottoCorrelato.name }}
  </div>
  <div class="areatesto flex flex-row ">
    <p-button icon="pi pi-image" styleClass="p-button-lg p-button-rounded p-button-text myInputArea-1 mr-3"></p-button>
    <span class="p-input-icon-right myInputArea-2">
      <i class="pi pi-arrow-right"></i>
      <input type="text" pInputText [(ngModel)]="newMessage" class="area1" (keydown.enter)="sendMessage($event)" />
    </span>
  </div>
  <div class="conversazione">
    <div *ngIf="loggedUser && otherUser && conversazione">
      <app-inbox-conversation-item *ngFor="let msg of conversazione.messages;" [msg]="msg" [loggedUser]="loggedUser"
        [otherUser]="otherUser" />
    </div>
  </div>
</div>