<div class="card">
  <div class="flex flex-column card-container">
    <div class="flex align-items-center justify-content-center h-2rem m-2">
      <h2>Che bello rivederti!</h2>
    </div>
    <div class="flex align-items-center justify-content-center h-4rem ">
      <p-button styleClass="p-button-outlined w-15rem" label="Accedi con Facebokk" icon="pi pi-facebook"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center h-4rem ">
      <p-button styleClass="p-button-outlined w-15rem" label="Accedi con Goolge" icon="pi pi-google"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center h-4rem ">
      <p-button styleClass="p-button-outlined w-15rem" label="Accedi con Apple" icon="pi pi-apple"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center h-2rem m-2">
      Oppure accedi con <a href="#" class="ml-1">e-mail</a>

    </div>
    <div class="flex align-items-center justify-content-center h-2rem m-2">
      Non hai ancora un account? <a href="#" class="ml-1">Iscriviti</a></div>
  </div>
</div>
