<div class="grid line-height-4">
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title">Winted</h3>
          <ul class="menulist">
            <li><a href="#">Chi siamo</a></li>
            <li><a href="#">Lavori</a></li>
            <li><a href="#">La sostenibilità</a></li>
            <li><a href="#">Stampa</a></li>
            <li><a href="#">Pubblicità</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title" p0 m0>Scopri</h3>
          <ul class="menulist">
            <li><a href="#">Come funziona</a></li>
            <li><a href="#">App mobili</a></li>
            <li><a href="#">Centro assistenza</a></li>
            <li><a href="#">Notizie</a></li>
            <li><a href="#">Vinted Pro</a></li>
            <li><a href="#">Guida a Vinted Pro</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title">Assistenza</h3>
          <ul class="menulist">
            <li><a href="#">Centro assistenza</a></li>
            <li><a href="#">Vendere</a></li>
            <li><a href="#">Acquistare</a></li>
            <li><a href="#">Sicurezza e affidabilità</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 ">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title">Community</h3>
          <ul class="menulist">
            <li><a href="#">Forum</a></li>
            <li><a href="#">I miei topic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
