<div class="grid line-height-4">
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title" i18n>Winted</h3>
          <ul class="menulist">
            <li><a href="#" i18n>Chi siamo</a></li>
            <li><a href="#" i18n>Lavori</a></li>
            <li><a href="#" i18n>La sostenibilità</a></li>
            <li><a href="#" i18n>Stampa</a></li>
            <li><a href="#" i18n>Pubblicità</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title" p0 m0 i18n>Scopri</h3>
          <ul class="menulist">
            <li><a href="#" i18n>Come funziona</a></li>
            <li><a href="#" i18n>App mobili</a></li>
            <li><a href="#" i18n>Centro assistenza</a></li>
            <li><a href="#" i18n>Notizie</a></li>
            <li><a href="#" i18n>Vinted Pro</a></li>
            <li><a href="#" i18n>Guida a Vinted Pro</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title" i18n>Assistenza</h3>
          <ul class="menulist">
            <li><a href="#" i18n>Centro assistenza</a></li>
            <li><a href="#" i18n>Vendere</a></li>
            <li><a href="#" i18n>Acquistare</a></li>
            <li><a href="#" i18n>Sicurezza e affidabilità</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 ">
    <div class="card">
      <div class="flex flex-column card-container">
        <div class="flex flex-column align-items-start justify-content-left">
          <h3 class="menulist-title" i18n>Community</h3>
          <ul class="menulist">
            <li><a href="#" i18n>Forum</a></li>
            <li><a href="#" i18n>I miei topic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
