<div class="card text-sm prodcard bg-white mr-4">
  <div class="flex text-600 flex-column card-container">
    <div *ngIf="showUser && owner" class="flex align-items-center justify-content-start h-3rem m-1">
      <p-avatar [image]=owner.avatar styleClass="mr-2" shape="circle"></p-avatar>
      {{ owner.username }}
    </div>
    <div
      class=" flex flex-column border-round-sm border-1 border-gray-200 align-items-center justify-content-center mb-1"
      style="height: 300px;width: 200px;position: relative;" (click)="handleClick()">
      <div class="containerOverlay">
        <p-image class="myimg" [src]="product.featured" alt="Image" height="300"></p-image>
        <div *ngIf="venduto" class="textOverlay">
          Venduto
        </div>
      </div>
    </div>
    <div class="flex text-900 font-bold align-items-center justify-content-between h-1rem my-1">
      {{product.price}}<span class="text-500" (click)="addToPreferred()">{{product.preferred}} <i
          class="pi pi-heart"></i> </span></div>
    <div class="flex align-items-center text-600 justify-content-start h-1rem my-1">
      {{product.size}}</div>
    <div class="flex align-items-center text-600 justify-content-start h-1rem my-1">
      {{product.brand}}</div>
  </div>

</div>
<p-toast></p-toast>