<div class="mt-5">
  <p>Ricerca: {{ fullTextSearch }} ({{ searchMode }})</p>
</div>

<dir class="prodotti" *ngIf="searchMode==='cat'">
  <div>
    <h1>Prodotti</h1>
  </div>
  <div class="listaprodotti" *ngIf="prodotti && prodotti.length > 0">
    <div class="prodotto" *ngFor="let prodotto of prodotti;">
      <h3>{{ prodotto.name }}</h3>
      {{ prodotto.description }}
    </div>
  </div>
  <div class="noproduct" *ngIf="prodotti && prodotti.length == 0">
    Non ci sono prodotti che corrispondono ai criteri selezionati!
  </div>
</dir>

<dir class="utenti" *ngIf="searchMode==='user'">
  <div class="listautenti" *ngIf="utenti && utenti.length > 0">
    <div class="utente" *ngFor="let utente of utenti;">
      <h3>{{ utente.username }}</h3>
    </div>
  </div>
  <div class="nouser" *ngIf="utenti && utenti.length == 0">
    Non ci sono utenti che corrispondono ai criteri selezionati!
  </div>
</dir>