<div class="grid m-0 p-0">
  <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore necessitatibus iste voluptates
    minima doloribus voluptatibus aliquam dolorum harum! Harum, ducimus. Fuga sequi eius vitae quaerat officiis sit, ex
    itaque architecto.</div>
  <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore necessitatibus iste voluptates
    minima doloribus voluptatibus aliquam dolorum harum! Harum, ducimus. Fuga sequi eius vitae quaerat officiis sit, ex
    itaque architecto.</div>
  <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore necessitatibus iste voluptates
    minima doloribus voluptatibus aliquam dolorum harum! Harum, ducimus. Fuga sequi eius vitae quaerat officiis sit, ex
    itaque architecto.</div>
  <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore necessitatibus iste voluptates
    minima doloribus voluptatibus aliquam dolorum harum! Harum, ducimus. Fuga sequi eius vitae quaerat officiis sit, ex
    itaque architecto.</div>
</div>

// #f2f2f2
// #007782
