<div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check"></p-button>
</div>


<div class="card flex flex-wrap gap-3">
  <div class="flex-1 flex flex-column align-items-center gap-3">
      <label htmlFor="cp-hex" class="font-bold block mb-2"> HEX </label>
      <p-colorPicker [(ngModel)]="color"></p-colorPicker>
      <span>{{ color }}</span>
  </div>
  <div class="flex-1 flex flex-column align-items-center gap-3">
      <label htmlFor="cp-rgb" class="font-bold block mb-2"> RGB </label>
      <p-colorPicker [(ngModel)]="colorRGB" format="rgb"></p-colorPicker>
      <span>{{ 'r:' + colorRGB.r + ' g:' + colorRGB.g + ' b:' + colorRGB.b }}</span>
  </div>
  <div class="flex-1 flex flex-column align-items-center gap-3">
      <label htmlFor="cp-hsb" class="font-bold block mb-2"> HSB </label>
      <p-colorPicker [(ngModel)]="colorHSB" format="hsb"></p-colorPicker>
      <span>{{ 'h:' + colorHSB.h + ' s:' + colorHSB.s + ' b:' + colorHSB.b }}</span>
  </div>
</div>

<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search"></span>
<span class="pi pi-user"></span>

<i class="pi pi-check" style="font-size: 1rem"></i>
<i class="pi pi-times" style="font-size: 1.5rem"></i>
<i class="pi pi-search" style="font-size: 2rem"></i>
<i class="pi pi-user" style="font-size: 2.5rem"></i>

<i class="pi pi-check" style="color: slateblue"></i>
<i class="pi pi-times" style="color: green"></i>
<i class="pi pi-search" style="color: 'var(--primary-color)'"></i>
<i class="pi pi-user" style="color: #708090"></i>

<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
<i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
<router-outlet></router-outlet>
