<div class="card my-3">
  <p class="text-3xl w-10 mb-3">Ricerche suggerite</p>
  <div class="flex flex-row flex-wrap card-container blue-container">
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
    <div class="flex align-items-center justify-content-center my-1">
      <app-recearch-suggested-single></app-recearch-suggested-single>
    </div>
  </div>
</div>
