<div class="grid w-10">
  <div class="col-12">
    <div class="flex flex-wrap flex-row menulistline3">
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>Informativa sulla privacy</a></div>
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>Informativa sui cookie</a></div>
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>Termini e condizioni</a></div>
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>La nostra piattaforma</a></div>
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>Condizioni di vendita Pro</a></div>
      <div class="flex align-items-center justify-content-center h-2rem m-2"><a href="#" i18n>Condizioni d’utilizzo Pro</a></div>
    </div>
  </div>
</div>
