<div class="card mt-4 h-full">
  <p class="text-3xl w-12 text-700" i18n>Articoli preferiti</p>
  <div class="preferiticontent flex flex-row flex-wrap card-container justify-content-left w-12">
    <div *ngIf="products && products.length > 0">
      <div *ngFor="let product of products;" class="flex align-items-center justify-content-left my-3">
        <product-card [product]="product" [showUser]="true" (changePreferred)="onUpdate()"></product-card>
      </div>
    </div>
    <div *ngIf="!products || products.length == 0"
      class="flex flex-column align-items-center justify-content-center w-12">
      <p class="text-3xl w-12 mb-2 text-center text-700" i18n>Salva i preferiti</p>
      <p class="text-xl w-12 text-center text-500" i18n>Aggiungi articoli ai tuoi preferiti e trovali qui</p>
    </div>
  </div>
</div>