.contentcolorato {
background-color: #f2f2f2;
}

.content {
  padding-top: 120px;
  min-height: calc(100vh - 3.5rem);
}

.footer {
  height: 3.5rem;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
