<div class="flex flex-column flex-wrap card-container align-items-center justify-content-center flex-wrap card-container yellow-container">
  <div class="w-9 text-sm text-600 border-bottom-1 border-black-alpha-20 m-0 mt-5"><app-v1-footer-line1></app-v1-footer-line1></div>
  <div class="w-9 text-sm text-600 border-bottom-1 border-black-alpha-20 m-0 p-0 "><app-v1-footer-line2></app-v1-footer-line2></div>
  <div class="w-9 text-sm text-600 m-0 p-0"><app-v1-footer-line3></app-v1-footer-line3></div>
</div>
