<div class="card inbox-item-preview flex justify-content-start" (click)="handleClick()" 
  [ngClass]="{'inbox-item-preview-selected': anteprima.conversationId === routerId}">
  <div class="align-items-center justify-content-center m-1">
    <p-avatar *ngIf="otherUser" [image]="otherUser.avatar" size="large" shape="circle"></p-avatar>
  </div>
  <div class="flex-grow-1 flex-column align-items-center justify-content-start text-left m-1 dati">
    <div class="flex flew-row flew-wrap align-items-center justify-content-start text-left mb-2 myflex">
      <span *ngIf="otherUser" class="min-w-max mr-2 font-semibold">{{ otherUser.username }}</span>
      <span class="min-w-max mr-1 text-600">{{ anteprima.timeAgo }}</span>
    </div>
    <div class="flex align-items-center justify-content-start text-left text-700">{{ anteprima.lastMessage }}</div>
    <div *ngIf="prodottoCorrelato" class="flex align-items-center justify-content-start text-left">
      <p-avatar *ngIf="prodottoCorrelato.featured" [image]="prodottoCorrelato.featured" size="normal" class="mr-2 mt-1"></p-avatar>
      <div>{{ prodottoCorrelato.name }}</div>
    </div>
  </div>
</div>